.App {
  text-align: center;
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  min-height: 100vh; /* Ensure it takes the full height */
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
  margin-bottom: 20px; /* Adjust margin as needed */
}

/* index.css */
body {
  background-color: #282c34; /* Set your desired background color here */
  font-family: Arial, sans-serif; /* Optional: set your preferred font */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
